# Node modules
/node_modules/

# Vite
/dist/
/.vite/

# Storybook
/.storybook-out/
/storybook-static/

# ESLint
.eslintcache

# TypeScript
/tsconfig.tsbuildinfo

# pnpm specific files
/pnpm-debug.log

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Misc
/tmp
/src/UNSECURE_secrets.ts
